body{
  background-color: black;
}
h1{
  text-transform: uppercase;
  font-size: 1rem;
}
p{
  font-size: 0.8rem;
}
.poster{  
  width: 50%;
  margin-left: 25%;
  margin-top: 80px;
  font-family: 'Libre Baskerville', serif;
  text-align: center;
  color: white;
}
.img-poster{
  border: 5px solid white;
  width: 100%;
}
